In [1]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as py
import matplotlib.pyplot as plot
import seaborn as sns
from matplotlib import rc

import matplotlib.mlab as mlab

In [2]:
dfMain = pd.read_csv('main.csv', low_memory=False);
dfMem = pd.read_csv('hpq_mem.csv', low_memory=False);

#Loads 'main.csv' and 'hpq_mem.csv'

In [3]:
dfMain = dfMain.filter(['mainid','brgy']);
dfMem = dfMem.filter(['mainid','educal']);

#Filters the two dataframes to show only the relevant columns

In [4]:
dfMainMem = pd.merge(dfMain, dfMem, left_on='mainid', right_on='mainid', how='left');

# Joins dfMain with dfMem using matching mainids
dfMainMem

         mainid  brgy  educal
0       1061066   186     NaN
1       1061066   186   300.0
2       1061066   186    32.0
3        555683    69   300.0
4        555683    69   300.0
5       8611889     1    34.0
6        299398   165    31.0
7        299398   165    16.0
8        136921   135    19.0
9       3842267    43   100.0
10       899855   201   200.0
11       899855   201    32.0
12       899855   201   200.0
13       899855   201   210.0
14       899855   201   300.0
15       235953   190     0.0
16       235953   190     NaN
17       235953   190   100.0
18       235953   190     NaN
19       235953   190   200.0
20      1591438    47    31.0
21      1591438    47     0.0
22      1591438    47   200.0
23      1591438    47     NaN
24      1053432   130    15.0
25      1053432   130    16.0
26      1053432   130    11.0
27      1053432   130    32.0
28      1053432   130    12.0
29      1112848   171    32.0
...         ...   ...     ...
181968   874688   192   200.0
181969   874688   192    19.0
181970   874688   192   200.0
181971   874688   192    19.0
181972   874688   192    19.0
181973   839247   192    33.0
181974   839247   192   100.0
181975  2073527   194   200.0
181976  2073527   194    41.0
181977  2073527   194   300.0
181978  2073527   194    17.0
181979  2073527   194     0.0
181980  3335279   187    16.0
181981  3335279   187   200.0
181982  3335279   187   200.0
181983   578279   197   200.0
181984   578279   197   200.0
181985   578279   197     NaN
181986   486916   189     NaN
181987   486916   189    18.0
181988   486916   189    16.0
181989   486916   189     0.0
181990  3026228   183   300.0
181991  3026228   183   300.0
181992  3026228   183   300.0
181993  3026228   183    33.0
181994  1765944    46   300.0
181995  1765944    46   200.0
181996  1765944    46   300.0
181997  1765944    46   200.0

[181998 rows x 3 columns]

In [5]:
dfMainMem['family_size'] = dfMainMem.mainid.map(dfMainMem.mainid.value_counts())
# Determines the family size based on the number of responses.
# Educal is the highest educational attainment of each family member.
# We were forced to assume that family size equals VALID educal responses count because there is no data about family size.

dfMainMem

         mainid  brgy  educal  family_size
0       1061066   186     NaN            3
1       1061066   186   300.0            3
2       1061066   186    32.0            3
3        555683    69   300.0            2
4        555683    69   300.0            2
5       8611889     1    34.0            1
6        299398   165    31.0            2
7        299398   165    16.0            2
8        136921   135    19.0            1
9       3842267    43   100.0            1
10       899855   201   200.0            5
11       899855   201    32.0            5
12       899855   201   200.0            5
13       899855   201   210.0            5
14       899855   201   300.0            5
15       235953   190     0.0            5
16       235953   190     NaN            5
17       235953   190   100.0            5
18       235953   190     NaN            5
19       235953   190   200.0            5
20      1591438    47    31.0            4
21      1591438    47     0.0            4
22      1591438    47   200.0            4
23      1591438    47     NaN            4
24      1053432   130    15.0            5
25      1053432   130    16.0            5
26      1053432   130    11.0            5
27      1053432   130    32.0            5
28      1053432   130    12.0            5
29      1112848   171    32.0            2
...         ...   ...     ...          ...
181968   874688   192   200.0            6
181969   874688   192    19.0            6
181970   874688   192   200.0            6
181971   874688   192    19.0            6
181972   874688   192    19.0            6
181973   839247   192    33.0            2
181974   839247   192   100.0            2
181975  2073527   194   200.0            5
181976  2073527   194    41.0            5
181977  2073527   194   300.0            5
181978  2073527   194    17.0            5
181979  2073527   194     0.0            5
181980  3335279   187    16.0            3
181981  3335279   187   200.0            3
181982  3335279   187   200.0            3
181983   578279   197   200.0            3
181984   578279   197   200.0            3
181985   578279   197     NaN            3
181986   486916   189     NaN            4
181987   486916   189    18.0            4
181988   486916   189    16.0            4
181989   486916   189     0.0            4
181990  3026228   183   300.0            4
181991  3026228   183   300.0            4
181992  3026228   183   300.0            4
181993  3026228   183    33.0            4
181994  1765944    46   300.0            4
181995  1765944    46   200.0            4
181996  1765944    46   300.0            4
181997  1765944    46   200.0            4

[181998 rows x 4 columns]

In [6]:
dfMainMem = dfMainMem.loc[dfMainMem.educal < 38.0] 
# Removes responses with less than 32 (first year college) as educational attainment
# It automatically drops NaN and other invalid responses as well

dfMainMem = dfMainMem.loc[dfMainMem.educal > 31]
# Removes responses with greater than 37(PhD) as educational attainment
# It automatically drops NaN and other invalid responses as well

# ASSUMPTION: Invalid responses are automatically considered to not be in the 1st College to PhD range.

dfMainMem['above_PS'] = dfMainMem.mainid.map(dfMainMem.mainid.value_counts())
# Determines the number of current college takers and college grads based on the number of educal responses in the filtered data.
# Educal is the highest educational attainment of each family members.

dfMainMem

         mainid  brgy  educal  family_size  above_PS
2       1061066   186    32.0            3         1
5       8611889     1    34.0            1         1
11       899855   201    32.0            5         1
27      1053432   130    32.0            5         1
29      1112848   171    32.0            2         1
32        98326    72    33.0            4         1
37      1955060    40    32.0            5         1
43      7317935   179    34.0            3         1
48       129550   169    33.0            8         1
62       194394   170    33.0            2         2
63       194394   170    32.0            2         2
65      7320805   183    32.0            3         1
67      2555876    37    32.0            1         1
71      1355289    65    34.0            4         2
73      1355289    65    34.0            4         2
100     3528508     2    32.0            4         1
105     3528491     2    32.0            5         2
106     3528491     2    33.0            5         2
113     3528494     2    33.0            6         1
144     3528514     2    32.0            2         1
150     3528640     2    33.0            5         1
151     3528573     2    32.0            4         1
162     3528520     2    32.0            2         1
169     3528549     2    32.0            4         2
170     3528549     2    33.0            4         2
171     3528515     2    32.0            2         2
172     3528515     2    32.0            2         2
174     3528557     2    32.0            5         1
179     3528663     2    32.0            3         1
182     3528673     2    33.0            4         1
...         ...   ...     ...          ...       ...
181601  3858488   184    32.0            4         2
181603  3858488   184    32.0            4         2
181673  3994310   184    32.0            4         2
181676  3994310   184    32.0            4         2
181693  3994316   184    32.0            5         1
181708  3994324   184    33.0            6         1
181711  3994325   184    33.0            3         1
181714  3994326   184    32.0            4         1
181734  3994340   184    32.0            4         1
181748  3994344   184    32.0            1         1
181752  4052210   184    33.0            1         1
181766  4052240   184    33.0            5         1
181787  4052257   184    32.0            5         1
181794  4052269   184    33.0            1         1
181812  4052285   184    32.0           11         1
181865  4057640   184    32.0            4         1
181871  4057740   184    32.0            3         1
181874  4057643   184    33.0            2         1
181878  4057650   184    33.0            2         1
181892  4057686   184    32.0            4         1
181909  2324874    28    32.0            5         1
181914  3889213   201    34.0            1         1
181922  3027315    96    33.0            4         1
181924  3356417   201    33.0            3         1
181930  1368909    61    32.0            4         1
181948  1779354   138    32.0            7         1
181955  1106960   201    32.0            6         2
181958  1106960   201    33.0            6         2
181973   839247   192    33.0            2         1
181993  3026228   183    33.0            4         1

[20367 rows x 5 columns]

In [7]:
dfMainMem = dfMainMem.drop(columns=['educal'])
# Drops the educal column which we dont have use for anymore

dfMainMem['score'] = dfMainMem['above_PS'] / dfMainMem['family_size']
# Creates a new column score which keeps the score of each family's literacy rate 
# by taking the ratio of college takers and grads over the total family size based on VALID educal responses.

dfMainMem

         mainid  brgy  family_size  above_PS     score
2       1061066   186            3         1  0.333333
5       8611889     1            1         1  1.000000
11       899855   201            5         1  0.200000
27      1053432   130            5         1  0.200000
29      1112848   171            2         1  0.500000
32        98326    72            4         1  0.250000
37      1955060    40            5         1  0.200000
43      7317935   179            3         1  0.333333
48       129550   169            8         1  0.125000
62       194394   170            2         2  1.000000
63       194394   170            2         2  1.000000
65      7320805   183            3         1  0.333333
67      2555876    37            1         1  1.000000
71      1355289    65            4         2  0.500000
73      1355289    65            4         2  0.500000
100     3528508     2            4         1  0.250000
105     3528491     2            5         2  0.400000
106     3528491     2            5         2  0.400000
113     3528494     2            6         1  0.166667
144     3528514     2            2         1  0.500000
150     3528640     2            5         1  0.200000
151     3528573     2            4         1  0.250000
162     3528520     2            2         1  0.500000
169     3528549     2            4         2  0.500000
170     3528549     2            4         2  0.500000
171     3528515     2            2         2  1.000000
172     3528515     2            2         2  1.000000
174     3528557     2            5         1  0.200000
179     3528663     2            3         1  0.333333
182     3528673     2            4         1  0.250000
...         ...   ...          ...       ...       ...
181601  3858488   184            4         2  0.500000
181603  3858488   184            4         2  0.500000
181673  3994310   184            4         2  0.500000
181676  3994310   184            4         2  0.500000
181693  3994316   184            5         1  0.200000
181708  3994324   184            6         1  0.166667
181711  3994325   184            3         1  0.333333
181714  3994326   184            4         1  0.250000
181734  3994340   184            4         1  0.250000
181748  3994344   184            1         1  1.000000
181752  4052210   184            1         1  1.000000
181766  4052240   184            5         1  0.200000
181787  4052257   184            5         1  0.200000
181794  4052269   184            1         1  1.000000
181812  4052285   184           11         1  0.090909
181865  4057640   184            4         1  0.250000
181871  4057740   184            3         1  0.333333
181874  4057643   184            2         1  0.500000
181878  4057650   184            2         1  0.500000
181892  4057686   184            4         1  0.250000
181909  2324874    28            5         1  0.200000
181914  3889213   201            1         1  1.000000
181922  3027315    96            4         1  0.250000
181924  3356417   201            3         1  0.333333
181930  1368909    61            4         1  0.250000
181948  1779354   138            7         1  0.142857
181955  1106960   201            6         2  0.333333
181958  1106960   201            6         2  0.333333
181973   839247   192            2         1  0.500000
181993  3026228   183            4         1  0.250000

[20367 rows x 5 columns]

In [8]:
dfBrgy1 = dfMainMem.loc[dfMainMem.brgy == 1]
dfBrgy1

# Just to check if output is correct, Brgy 1 has 3 respondents with a total of 1.7 score, therefore averaging on 0.566667

        mainid  brgy  family_size  above_PS  score
5      8611889     1            1         1    1.0
76035   120577     1            2         1    0.5
79832   254233     1            5         1    0.2

In [ ]:
arrayBrgyScores = dfMainMem.groupby('brgy')['score'].mean()
# Groups the families by brgy and takes the average of their family literacy.
# Output is an array, not a dataframe.

ax = arrayBrgyScores.sort_values(ascending=False).plot(kind='barh', figsize=(10,40), color='#008080',  width=0.8, stacked=True)
ax.invert_yaxis()
ax.set_ylabel('Baranggay #')
ax.set_xlabel('Score')    
ax.xaxis.set_label_position('top') 
for p in ax.patches:
    ax.annotate(str(round(p.get_width(),3)), (p.get_width() * 1.005, p.get_y() + 0.5))
plot.title('Mean Water Accessibility Score of Each Baranggay', y=1.02)
plot.legend()
plot.show()
# Bar graph of all the college literacy rate per family of each baranggay

arrayBrgyScores.nlargest(10).plot(figsize=(8, 8), kind='bar', align='center', color='#006767',  width=0.8, stacked=True)
plot.title('Top 10 Mean College Literacy per Family of Each Baranggay')
plot.legend()
plot.show()
# Bar graph of the top 10 brgys, we assigned a y-axis floor of 0.6 since no value dipped below it.

arrayBrgyScores.nsmallest(10).plot(figsize=(8, 8), kind='bar',align='center', color='#009a9a',  width=0.8, stacked=True)
plot.title('Bottom 10 Mean College Literacy per Family of Each Baranggay')
plot.legend()
plot.show()
# Bar graph of the bottom 10 brgys, we assigned a y-axis ceiling of 0.4 since no value rose above it
# and to scale it to the previous bar graph.

# Calamity Prep Score 1: The Mean College Literacy per Family of Each Baranggay

## Assumptions: 
1. Based on a study by INSERT AUTHORS AND LINK, having college students and college grads in the family increases their chance of surviving calamities. And so we used EDUCAL (educational attainment) as a means of scoring the average post-secondary literacy of each family in each baranggay.
    
2. We assumed that the number of responses per family represents the total size of the family and so used it as the denominator to which we compared the number of college grads and students.

3. We assumed that invalid responses such as '300' and NaN values are automatically not within range of the 1st year college (32) to PhD (37). We did not drop these responses as it will cause an inaccurate family size. We tried dropping them but a 5 member family just became 2 because 3 of them did not properly answer. The family still had 100% literacy because the only 2 valid responses are within college and PhD range despite the fact more than half of the responses was invalid.

## Explanation:
1. 'College Literacy per Family' stands for the ratio of the number of college students and college grads in a family over the total number of family members.

2. In the FIRST AND SECOND BAR GRAPH, it appears that on average, most families in each baranggay only have around half of the family members currently studying in college or have finished college.

3. As seen in the THIRD BAR GRAPH, Brgy 99 has a perfect 1.0 college literacy per family rate, the highest in Pasay. It could be assumed that this baranggay have affluent families who went to college and also were able to provide college education for their children, or at least the respondents. Or it could be because the respondents are all old enough to have undergone college in this baranggay.

4. The last of the Top 10 (THIRD BAR GRAPH) already has approximately 0.7 college literacy per family rate which indicates that up to 3 out 10 family members in the top 10 brgy hasn't undergone college education.

5. As seen in the FOURTH BAR GRAPH, Brgy 40 has the lowest college literacy per family of 0.2 which means that in this baranggay it is normal to only have 1 out 5 family members to have undergone college or currently undergoing college. This could mean that families in this baranggay are on the lower income bracket for not being able to send members to college, or that most family members in this baranggay are children who are not yet old enough for college.
    
## Methodology:
1. Created a filtered dataframe copy of the original Main.CSV file that only contains the relevant variables for Score 1. These variables are 'mainid' which identifies the family, 'educal' which identifies the educational attainment of each family member, and 'brgy' which identifies which baranggay the respondent is.

2. Determined family size ('family_size' column) by counting the number of responses of with the same 'mainid' value.

3. Determined college students and grads count ('above_PS' column) by counting the number of responses of with 32 (first year college) to 37 (PhD) as EDUCAL values.

4. Determined the ratio of 'above_PS' over 'family_size' to get each family's college literacy rate.

5. Grouped the families by baranggay and then computed for the mean college literacy per family of each baranggay.

In [ ]:
dfScore1 = pd.DataFrame(arrayBrgyScores);
dfScore1.to_csv('BrgyScore1.csv', encoding='utf-8')

# The computed means for each baranggay's family college literates  rate is saved onto a CSV file for future use.