In [2]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as py
import matplotlib.pyplot as plot
import seaborn as sns
from matplotlib import rc

import matplotlib.mlab as mlab

In [3]:
dfScore1 = pd.read_csv('BrgyScore1.csv', low_memory=False);
dfScore2 = pd.read_csv('BrgyScore2.csv', low_memory=False);

In [4]:
dfScore1

     brgy     score
0       1  0.566667
1       2  0.536019
2       3  0.416667
3       4  0.349750
4       5  0.509877
5       6  0.487374
6       7  0.447693
7       8  0.419841
8       9  0.775731
9      10  0.501974
10     11  0.523401
11     12  0.452747
12     13  0.417969
13     14  0.493218
14     15  0.679902
15     16  0.405134
16     18  0.622761
17     19  0.531905
18     20  0.639216
19     21  0.517316
20     22  0.448554
21     23  0.474313
22     24  0.452820
23     25  0.429695
24     26  0.478426
25     27  0.559422
26     28  0.430211
27     30  0.516374
28     31  0.483333
29     33  0.670118
..    ...       ...
142   171  0.442456
143   172  0.423288
144   173  0.494410
145   174  0.464032
146   175  0.447993
147   177  0.442803
148   178  0.464540
149   179  0.372845
150   180  0.344021
151   181  0.337648
152   182  0.374377
153   183  0.540399
154   184  0.425118
155   185  0.422559
156   186  0.402615
157   187  0.368326
158   188  0.511799
159   189  0.425748
160   190  0.388625
161   191  0.450146
162   192  0.487987
163   193  0.476868
164   194  0.478987
165   195  0.452615
166   196  0.407561
167   197  0.439905
168   198  0.529976
169   199  0.508304
170   200  0.456457
171   201  0.440028

[172 rows x 2 columns]