In [1]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as py
import matplotlib.pyplot as plot
import seaborn as sns
from matplotlib import rc

import matplotlib.mlab as mlab

In [2]:
dfMain = pd.read_csv('main.csv', low_memory=False);

In [3]:
dfMain.mainid.duplicated()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
59536    False
59537    False
59538    False
59539    False
59540    False
59541    False
59542    False
59543    False
59544    False
59545    False
59546    False
59547    False
59548    False
59549    False
59550    False
59551    False
59552    False
59553    False
59554    False
59555    False
59556    False
59557    False
59558    False
59559    False
59560    False
59561    False
59562    False
59563    False
59564    False
59565    False
Name: mainid, Length: 59566, dtype: bool

In [4]:
dfMain['mainid']

0        1061066
1         555683
2        8611889
3         299398
4         136921
5        3842267
6         899855
7         235953
8        1591438
9        1053432
10       1112848
11       2728227
12         98326
13       1955060
14       1352565
15       7317935
16       7320712
17        129550
18       7320094
19       1348436
20        194394
21       7320805
22       2555876
23       2880362
24       1355289
25       3166204
26       7320136
27        899860
28        990548
29        234239
          ...
59536    4057712
59537    3483181
59538    2324874
59539     160554
59540    3646113
59541    3889213
59542    3648868
59543     151199
59544    3027315
59545    3356417
59546    1554169
59547    1368909
59548    1521428
59549    1525475
59550    2765090
59551    1987450
59552    1779354
59553    2710602
59554    1106960
59555     899178
59556     699764
59557     699743
59558     874688
59559     839247
59560    2073527
59561    3335279
59562     578279
59563     486916
59564    3026228
59565    1765944
Name: mainid, Length: 59566, dtype: int64